<% if client_signed_in? %>
  <li>
    <%= link_to('Log out', destroy_client_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Log in', new_client_session_path) %>
  </li>
  <li>
    <%= link_to('Sign up', new_client_registration_path) %>
  </li>
<% end %>

<h1>INDEX</h1>
